<!DOCTYPE html>
{% load static %}
<html lang="en-us">

<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Sotiris Podaras</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


	<link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Cairo:wght@300&family=Fira+Sans:wght@300&display=swap" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>

	{% include 'project/navbar.html' %}

	{% block content %}
	
	{% endblock %}

</body>
</html>

